{% extends "base.html" %}
{% block title %}<title>hgfh</title>{% endblock %}
{% block content %}
{% if not post %}
<b>Статья не найдена</b>
{% else %}
	{% for service_news in post %}
	<h1>{{ service_news.title}}</h1>
	{% if service_news.image%}
	<img src="{{ service_news.image1.url }}" alt=""></a>
	{% endif %}
  	<p>{{service_news.body|truncatechars:30 }}</p>
  	<span>{{ service_news.date_news }}</span>
  	<a href="{{ service_news.get_absolute_url }}">RS</a>
    <br><br><br>
	{% endfor %}
{% endif %}

{% if post.has_previous %}
  <a href="?page={{ post.previous_page_number }}">Назад</a>
  {% endif %}
  <span>{{ post.number }} / {{ post.num_pages }}</span>
  {% if post.has_next %}
  <a href="?page={{ post.next_page_number }}" >Вперед</a>
{% endif %}
{% endblock %}