{% extends "index.html" %}
{% block content_news %}
{% if not post %}
<b>Статья не найдена</b>
{% else %} 
    <div class="row text-left m-4">
           <div class="col-lg-6 col-md-12" >
                <div class="view overlay rounded z-depth-2-half">
                  <img src="{{ post.image.url }}" class="img-fluid m-5">
                </div>
           </div>
           <div class="col-lg-6 col-md-12 text-center">
            <div class="p-data text-center m-4 mr-auto">
              <br>
              <a href="{{ post.get_absolute_url }}" class="light-blue-text">
                <h6>
              <strong>{{ post.title}}</strong>
              </h6>
              </a>  
              <br>
              <p>{{post.body|truncatechars:30 }}</p>
              <br>
            </div>
          </div>
    </div>
{% endif %}          
{% endblock %}

{% block service %}
 {% if not serv %}
<b>Статья не найдена</b>
{% else %}  
      <div class="row mt-5">
        <div class="col-md-7 mb-1">
           <div class="p-data align-content-center mr-auto">
              <article class="post-peview">
                <div class="post-header"></div>
                <div class="post-body">
                  <div class="post-entry m-5">
                    <p>{{ serv.body|truncatechars:50 }}</p>
                  </div>
                </div>
                <div class="post-footer m-5">
                  <a href="{% url 'service_blog:service' %}" class="light-blue-text m-5">
                   <h6>Узнать подробнее...</h6>
                  </a>
                </div>
              </article>
           </div>
        </div>
        <div class="col-md-5 mb-1">
              <div class="view overlay rounded z-depth-2-half">
                {% if  serv.image %}
                <img src="{{ serv.image.url }}" class="img-fluid mb-3"></a>
                {% elif serv.image1 %}
                <img src="{{ serv.image1.url }}"  class="img-fluid mb-3 "></a>
                {% elif serv.image2 %}
                <img src="{{ serv.image2.url }}"  class="img-fluid mb-3 "></a>
                {% endif %}   
             </div>
        </div>
    </div>
{% endif %}
{% endblock %}


{% block gallery %}
{% if not gal %}
<b>Статья не найдена</b>
{% else %} 
            <div class="row mt-5" style="padding: 50px">
            {% if not gal.image %}
            <h1>&nbsp;</h1>
            {% else %}
            
            <div class="col-md-3 mb-5" >
              <div class="view overlay rounded z-depth-2-half">
                <img src="{{ gal.image.url }}" class="img-fluid">
              </div> 
            </div>
            {% endif %}
            {% if not gal.image1 %}
            {% else %}       
            <div class="col-md-3 mb-5" >
              <div class="view overlay rounded z-depth-2-half">
                <img src="{{ gal.image1.url }}" class="img-fluid">        
            </div>
            </div>
            {% endif %}
            {% if not gal.image2 %}
            {% else %}
            <div class="col-md-3 mb-5" >
              <div class="view overlay rounded z-depth-2-half">
                <img src="{{ gal.image2.url }}" class="img-fluid">
              </div>  
            </div>
            {% endif %}
            {% if not gal.image3 %}
            {% else %}
            <div class="col-md-3 mb-5" >
              <div class="view overlay rounded z-depth-2-half">
                <img src="{{ gal.image3.url }}" class="img-fluid">
              </div>  
            </div>
            {% endif %}
        <br>
        </div>
{% endif %}
      {% endblock %}


