{% extends "index1.html" %}
{% block title %}Галерея{% endblock %}
{% block content %}
{% if not gal %}
<b>Статья не найдена</b>
{% else %}
  <section class="service mb-9 text-center align-content-center">
       <h1><strong>Галерея</strong> <hr><br><br><br></h1>
	{% for post_news in gal %}
     <div><h1>
          <a href="{{ post_news.get_absolute_url }}"><strong>{{ post_news.title}}</strong></a>
          </h1>
      </div>
              <br><br><br>
<div class="row text-center">
  <div class="col-lg-7">
  {% if post_news.image %}
  <div class="mask rgba-white-slight">
    <img src="{{ post_news.image.url }}" alt=""></a>
  </div>
  <br><br><br>
  {% elif post_news.image1 %}
  <div class="mask rgba-white-slight">
    <img src="{{ post_news.image1.url }}" alt=""></a>
    <br><br><br>
  </div> 
  {% elif post_news.image2 %}
  <div class="mask rgba-white-slight">
    <img src="{{ post_news.image2.url }}" alt=""></a>
    <br><br><br>
  </div>
  {% elif post_news.image3%}
  <div class="mask rgba-white-slight">
    <img src="{{ post_news.image3.url }}" alt=""></a>
    <br><br><br>
  </div>
  {% endif %}  
 </div> 
 </div> 
	{% endfor %}
{% endif %}

{% if gal.has_previous %}
  <a href="?page={{ post.previous_page_number }}">Назад</a>
  {% endif %}
  <span>{{ gal.number }} / {{ post.num_pages }}</span>
  {% if gal.has_next %}
  <a href="?page={{ post.next_page_number }}" >Вперед</a>
  </section> 
  {% endif %}
{% endblock %}











